@import "/src/assets/styles/main/_variables.css";

/* remove html defaults on button*/
.close {
  all: unset;
	cursor: pointer;
  position: absolute;
  left: 25px;
  top: 10px;
  z-index: 999;
}

.close {

  border: 3px solid var(--light-primary);
  transition: 0.25s ease-in-out;
  -webkit-animation: fade-in 0.5s ease-out 0.25s both;
          animation: fade-in 0.5s ease-out 0.25s both;
}

.circle {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.open {
  background: var(--light-primary);
}

/* remove button  */

.circle {
display: none;
}