@import "/src/assets/styles/main/_base.css";

.primary-header{
  background-color: var(--background);
  border-bottom: 0.2px solid var(--divider);
}

.container {
  background-color: var(--background);
  height: var(--nav-height);
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.nav-logo {
  width: 30px;
  margin-inline-start: 30px ;
}

.nav-list {
  display: flex;
  margin-inline: 1rem;
}

.nav-link {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-400);
  color: var(--dark-primary);
  margin-inline: 30px;
  text-decoration: none;
}