@import "/src/assets/styles/main/_variables.css";

.logo {
  width: 60px;
}

.ellipse:hover {
  fill: var(--dark-primary);
}

.round-background {
  height: 90px;
  width: 90px;
  background-color: var(--dark-primary);
  position: absolute;
  top: calc(50px - 45px);
  left: calc(var(--sidebar-width)/2 - 45px);
  border-radius: 50%;
  border: 8px solid var(--background);
}

.middle-menu {
  position: absolute;
  top: calc(50px - 30px);
  left: calc(var(--sidebar-width)/2 - 30px);
}


.top-menu {
  height: 50px;
  background: rgb(90,77,140);
  background: -moz-linear-gradient(90deg, rgba(90,77,140,1) 0%, rgba(44,37,69,1) 35%);
  background: -webkit-linear-gradient(90deg, rgba(90,77,140,1) 0%, rgba(44,37,69,1) 35%);
  background: linear-gradient(90deg, rgba(90,77,140,1) 0%, rgba(44,37,69,1) 35%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5a4d8c",endColorstr="#2c2545",GradientType=1);
}

.top-menu,
.bottom-menu {
  position: relative;
  z-index: -1;
}

.bottom-menu {
  border-bottom: 1px solid var(--divider);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.identity {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-align: center;
  color: var(--accent);
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--background);
  border-right: 1px solid var(--divider);
  transition: .2s ease-in-out;
  z-index: 99;
}

.sidebar-hidden {
  transform: translateX(calc(1em * -15));
  opacity: 1;
  visibility: hidden;
}

.sidebar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.sidebar-body {
  padding: 10px 5px 10px 5px;
  /*overflow-y: scroll;*/
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-item {
  background-color: var(--light-primary);
  color: var(--primary-text);
  border: 1px solid transparent;
  border-radius: 8px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  padding: .5rem;
  margin-bottom: .5rem;
}
.sidebar-item,
.sidebar-item > * {
  cursor: pointer;
}